.task-container{
    background-color:plum;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: rgb(49, 3, 35);
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.remove-task-button{
    background-color: rgb(200, 148, 226);
    border:none;
    font-size: 20px;
    color: rgb(228, 128, 94);
    margin: 0 5px;
}

.see-task-details-button{
    background-color: rgb(200, 148, 226);
    border:none;
    font-size: 20px;
    color: rgb(228, 128, 94);
    margin: 0 5px;
}